@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.contenedor {
  background: #131415;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  height: 450px;
  background: #272d37;
  color: aliceblue;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* relative: para que la imagen de goku, que es absolute, se acomode a su padre y no al body */
}

.card-imagen {
  background: url(./kame-house.png) no-repeat center/cover;
  border-radius: 1rem 1rem 0 0;
  width: 100%;
  height: 100%;
}

.goku {
  height: 300px;
  position: absolute;
  top: -50px;
  left: 10px;
}
